<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,
500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Roboto:ital,
wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

    <title>E-commerce</title>
</head>
<body>
    <header>
  <nav class="nav1">
<div class="left">
    <span>Welcome to my E-shop</span>
    <a href="register" >Register</a> OR
    <a href="login" >Login</a>
    <a href="login" >logout</a>
</div>
<div class="right">
    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.whatsapp.com/"><i class="fa fa-whatsapp"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a href="https://in.pinterest.com/"><i class="fa fa-pinterest"></i></a>
</div>
  </nav>

  <!-- nav1 end-->

  <!--nav2 start -->

    <div class="nav2">
        <div class="nav2-left">
           <i class=" fa fa-phone"></i>+91 874123503..
           <i class=" fa fa-envelope"></i>1234@gmail.com
        </div>
        <div class="nav2-center">
            <h1>Gauri <span>Shopper</span></h1>
            <p>Everything for kids world</p>
        </div>
        <div class="nav2-right">
            <i class="fa fa-map"></i> Contact Us
        </div>
    </div>

    <!--nav2 end -->
      <!--nav3 start -->
      <nav class="nav3">
        <ul>
           <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
           <li><a href="#"><i class="fa fa-user"></i>Boy</a></li>
           <li><a href="#"><i class="fa fa-users"></i>Accessories</a></li>
           <li><a href="#"><i class="fa fa-anchor"></i>Toys 
            <i class="fa fa-caret-down"></i></a>
            <ul>
                <li><a href="#"><i class="fa fa-clipboard"></i>Wooden</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Plastic</a></li>
                <li><a href="#"><i class="fa fa-gavel"></i>Iron</a></li>
            </ul>
        </li>
           <li><a href="#"><i class="fa fa-calendar-check-o"></i>Special offer's</a></li>
           <li><a href="#"><i class="fa fa-search"></i>Find</a></li>
        </ul>
      </nav>

      <!--nav3 end -->

      <!--featured start -->
 <section class="featured">
    <img src="img/main.webp" alt="" height="282vh">
    <!-- <div class="featured-text">
        <button>Comming Soon</button>
        <h2>Our New Designs</h2>
        </div> -->
    </div>

       <!--featured end -->
    </header>

           <!--latest section start -->
<section class="latest">
<div class="product-intro">
    <h1>New <span> Arrivals</span></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>

<div class="card-container">
<div class="card">
    <div>
        <img src="img/black.webp" alt="">
    </div>
    <h1>Air Capsule</h1>
    <span>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </span>
    <p>$5500.00</p>
    <button>Add to cart</button>

</div>
<div class="card">
    <div>
        <img src="img/4th.webp" alt="">
    </div>
    <h1>LCR</h1>
    <span>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </span>
    <p>$5500.00</p>
    <button>Add to cart</button>

</div>

<div class="card">
    <div>
        <img src="img/shoes.webp" alt="">
    </div>
    <h1>Air Capsule</h1>
    <span>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </span>
    <p>$4500.00</p>
    <button>Add to cart</button>

</div>

<div class="card">
    <div>
        <img src="img/2nd.webp" alt="">
    </div>
    <h1>Branded shoes</h1>
    <span>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </span>
    <p>$6500.00</p>
    <button>Add to cart</button>

</div>
</div>

<div class="card-container">
    <div class="card">
        <div>
            <img src="img/black.webp" alt="">
        </div>
        <h1>Air Capsule</h1>
        <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <p>$2500.00</p>
        <button>Add to cart</button>
    
    </div>
    <div class="card">
        <div>
            <img src="img/4th.webp" alt="">
        </div>
        <h1>LCR</h1>
        <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <p>$3500.00</p>
        <button>Add to cart</button>
    
    </div>
    
    <div class="card">
        <div>
            <img src="img/shoes.webp" alt="">
        </div>
        <h1>Air Capsule</h1>
        <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <p>$2500.00</p>
        <button>Add to cart</button>
    
    </div>
    
    <div class="card">
        <div>
            <img src="img/2nd.webp" alt="">
        </div>
        <h1>Branded shoes</h1>
        <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <p>$8500.00</p>
        <button>Add to cart</button>
    
    </div>
    </div>
    

</section>
           
           <!--latest section end -->
     <!--popular product start -->
     <section class="latest">
        <div class="product-intro">
            <h1>Popular <span> Product</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
     <div class="card-container">
        <div class="card">
            <div>
                <img src="img/pop.jpg" alt="">
            </div>
            <h1>FOSSIL</h1>
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <p>$5500.00</p>
            <button>Add to cart</button>
        
        </div>
        <div class="card">
            <div>
                <img src="img/pop1.jpg" alt="">
            </div>
            <h1>DIESEL</h1>
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <p>$56600.00</p>
            <button>Add to cart</button>
        
        </div>
        
        <div class="card">
            <div>
                <img src="img/pop2.jpg" alt="">
            </div>
            <h1>GUESS</h1>
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <p>$56700.00</p>
            <button>Add to cart</button>
        
        </div>
        
        <div class="card">
            <div>
                <img src="img/pop3.jpg" alt="">
            </div>
            <h1>AX</h1>
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <p>$59800.00</p>
            <button>Add to cart</button>
        
        </div>
        </div>
        

      <!--popular product end -->

      <section class="trends">
            <div class="product-intro">
                <h1>Top <span> Trend</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <img src="img/pop3.jpg" alt="Image 1">
        <img src="img/pop3.jpg" alt="Image 2">
        <img src="img/pop3.jpg" alt="Image 3">
        <img src="img/pop3.jpg" alt="Image 3">
    </div>
</div>
      </section>

      <footer>
<div>
    <h1>Gauri <span>Shopper</span></h1>
            <p>Everything for kids world</p>
</div>
<div> <i class="fa fa-facebook"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-whatsapp"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-pinterest"></i>
    <p><br>Desing by Sonika Rastogi</p>
</div>
<div>
    @2024 Copyright ALL Rights Reserved
</div>

      </footer>
      <script>
        let index = 0;

function autoSlide() {
    const swiper = document.querySelector(".swiper-wrapper");
    const images = document.querySelectorAll(".swiper-wrapper img");
    index++;

    if (index >= images.length) {
        index = 0;
    }

    swiper.style.transform = `translateX(${-index * 100}%)`;
}

setInterval(autoSlide, 3000); // Change image every 3 seconds

       
      </script>
</body>
</html>